pipeline/PL_META_FILE_SQL_TO_BLOB__FILE_copy1.json
{
	"name": "PL_META_FILE_SQL_TO_BLOB__FILE_copy1",
	"properties": {
		"activities": [
			{
				"name": "GET_TABLE_NAMES",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_METAFILE",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LOOPING_TABLES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET_TABLE_NAMES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_TABLE_NAMES').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ONPREM_SQL_TO_BLOB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT  distinct * FROM @{item().Source_TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable10",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Fullload_files",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@concat(item().Target_Table_Name,'_',formatDateTime(utcnow(),'yyyyMMdd_HHmmss'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "ONPREMISES_SQL"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-27T09:14:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}