pipeline/PL_REST_API_TO_BLOB.json
{
	"name": "PL_REST_API_TO_BLOB",
	"properties": {
		"activities": [
			{
				"name": "GET_API_URLS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[METADATA_DRIVENTABLE] where source_type='API'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LOOING_BASE URLS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET_API_URLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_API_URLS').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_API_BLOB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource2",
									"type": "DatasetReference",
									"parameters": {
										"API_URL": {
											"value": "@item().BASE_URL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Ds_json",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@concat(item().TARGET_TABLE_NAME,'_',formatDateTime(utcnow(),'yyyyMMdd_HHmmss'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "API"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-15T20:31:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}